body {
  margin: 0;
  font-family: sans-serif;
  background: #1b8c2e; /* Yashil fon */
  color: #ffcc00; /* Yozuvlar sariq */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.player-container {
  display: flex;
  background: #292929;
  width: 80%;
  border-radius: 20px;
  overflow: hidden;
}

.sidebar {
  width: 200px;
  background: #1f1f1f;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar h2 {
  color: #ffcc00;
  text-align: center;
  font-size: 28px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 50px;
}

.sidebar li {
  margin: 15px 0;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.3s;
}

.sidebar li:hover {
  color: #4caf50;
}

.main {
  flex: 1;
  padding: 30px;
  text-align: center;
}

.main h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

.song-card {
  background: #1c1c1c;
  padding: 20px;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.song-card:hover {
  transform: scale(1.05);
}

.song-card img {
  width: 150px;
  border-radius: 10px;
}

.song-card h3 {
  font-size: 22px;
  margin-top: 15px;
}

.song-card p {
  color: #b0b0b0;
  font-size: 18px;
}

.bottom-player {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #181818;
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content: space-between;
  border-top: 2px solid #ffcc00;
  border-radius: 20px 20px 0 0;
}

.bottom-player img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
}

.bottom-player h4 {
  font-size: 20px;
  margin: 0;
}

.bottom-player p {
  font-size: 16px;
  color: #b0b0b0;
}

.bottom-player .controls button {
  background: #ffcc00;
  border: none;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 24px;
  transition: background-color 0.3s;
}

.bottom-player .controls button:hover {
  background-color: #f9d835;
}

button:focus {
  outline: none;
}
